.details h4 {
  color: #c4c4c9;
  font-size: 1.1rem;
  line-height: 1.7rem;
}
.details p {
  color: #c4c4c9;
  font-size: 0.95rem;
  line-height: 1.5rem;
}
.details ul li {
  color: #c4c4c9;
  font-size: 0.95rem;
}
